<nav class="navbar navbar-expand navbar-dark bg-success ">
    <a class="navbar-brand" href="/">
        JustFutebol
    </a>

    <ul class="navbar-nav mr-auto">  <!-- mr auto margem totoal a direita -->
       
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
  
    </ul>

</nav>